* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(66, 102, 66);
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#p-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#btn {
  padding: 20px 40px;
  width: 250px;
  background-color: rgb(0, 62, 0);
  color: white;
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
#btn:hover {
  background-color: rgb(3, 46, 3);
}

textarea {
  width: 80%;
  margin: 5px 0;
  padding: 3px;
  color: #fff;
  background-color: #163219;
}

h1 {
  margin-bottom: 2%;
}
